<div class="left-starter">
    <h1>Pages</h1>
    <div class="row">
        <div class="col-md-8 leftHand">
            <p>Create a page</p>
        </div>
        <div class="col-md-4 rightHand">
        </div>
    </div>
    <%- partial('../partials/page-form') %>
    </div>
</div>